<ion-view view-title="Home">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content id="homepage">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
		<div class="subheader"><span class="goplan-home"></span> Home</div>
		<div class="padding">
			<div id="home_text">
				<img src="img/xcel.png">
				<p>Join us tomorrow as we go #live with @xcelenergy! We will be chatting with @wesreeves about the future need of the company. Join us at 3pm Friday, September 23!</p>
				<p></p>
				<img src="img/stats.png">
				<p>What does it look like for to be a line working foreman with @xcelenergy? It looks pretty good. All you need is a high school diploma and to go through a 4 year journeyman program. #FindYourFuture</p>
				<img src="img/poverty.png">
				<p></p>
				<p>Recently, we got hear from the great and wonderful @slpeeple. She shared this slide during her presentation, and we thought it spoke volumes.</p>
				<img src="img/quote.png">
				<p>Happy #LaborDay!</p>
				<p></p>
				<img src="img/teachers.png">
				<p>We are glad to see you. #aisdtogether #iamaisd #aisdinnov8 #whatsyourplan</p>
				<p></p>
				<button class="button button-light">Load More</button>
				<p></p>
				<p></p>
			</div>
		</div>
	</ion-content>
</ion-view>
