<ion-view view-title="Home">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content id="homepage">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="refresh()"></ion-refresher>
		<div class="subheader"><span class="goplan-home"></span> Home</div>
		<div class="padding">
			<div class="article" ng-repeat="article in articles">
				<img ng-if="article.Article.image !== null" img-cache ic-src="{{imageDir+article.Article.image }}/width:400/height:400/crop:true/zoom:auto/{{article.Article.image}}" style="width: 100%;" />
				<h4>{{article.Article.title}}</h4>
				<p>{{article.Article.body}}</p>
				<p><br /></p>
			</div>
		</div>
	</ion-content>
</ion-view>
