<ion-view id="login">
	<ion-content>
		<div class="padding">
			<img src="img/login_logo.png" />
			<form name="loginForm" novalidate="" ng-submit="login(loginForm)">
				<div class="list list-inset">
					<div class="item item-input" ng-class="{ 'has-errors' : loginForm.email.$invalid && loginForm.$submitted, 'no-errors' : loginForm.email.$valid  && loginForm.$submitted}">
						<input name="email" ng-model="loginUser.email" type="text" placeholder="EMAIL" required />
					</div>
					<div class="form-errors" ng-show="loginForm.email.$error && loginForm.$submitted" ng-messages="loginForm.email.$error">
						<div ng-messages-include="templates/system/error.html"></div>
					</div>
				</div>
				<div class="list list-inset">
					<div class="item item-input" ng-class="{ 'has-errors' : loginForm.password.$invalid && loginForm.$submitted, 'no-errors' : loginForm.password.$valid  && loginForm.$submitted}">
						<input name="password" ng-model="loginUser.password" type="password" placeholder="PASSWORD" required />
					</div>
					<div class="form-errors" ng-show="loginForm.password.$error && loginForm.$submitted" ng-messages="loginForm.password.$error">
						<div ng-messages-include="templates/system/error.html"></div>
					</div>
				</div>
				<div class="text-right">
					<a ui-sref="forgot">Forgot Password</a>
				</div>
				<input type="submit" value="Sign In" class="button button-block button-positive" />
				<input ng-click="fblogin()" type="button" value="Use Facebook Login" class="button button-block button-dark icon-left ion-social-facebook" />
			</form>
		</div>
		<a class="button button-full signup" ui-sref="signup">Don't have an account?<br /><span>SIGN UP</span></a>
		<p class="text-center">If you click "Use Facebook Login" and are not a GoAmarillo user,
			<br />you will be registered and you agree to the GoAmarillo
			<br />
			<a ui-sref="login">Terms &amp; Conditions</a> and <a ui-sref="login">Privacy Policy</a></p>
		<br />
		<a ng-click="fblogout()" class="button button-block">Facebook logout</a>
	</ion-content>
</ion-view>
