<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear"></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-title>
				<img src="img/logo.png" class="title-image" />
			</ion-nav-title>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable bar-positive">
			<h1 class="title">Navigation</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">About NLNE</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.profile">Your Profile</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Career Plans</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Future Builder</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Local Resources</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Counsellors</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Partners</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Goal Setter</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Media</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Calendar</ion-item>
				<ion-item nav-clear="" menu-close="" ui-sref="menu.tabs.home">Contact Us</ion-item>
				<ion-item nav-clear="" menu-close="" ng-click="logout()">Logout</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
