<ion-view view-title="About NLNE">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader">About NLNE</div>
		<div class="padding">

			<p>No Limits No Excuses aims to dramatically increase the number of young adults in Amarillo who complete their postsecondary education, setting them up for success in the workplace and in life.</p>
			<p>No Limits No Excuses (NLNE) began with a $1.3 million grant, plus $200,000 in coaching serves from the Bill &amp; Melinda Gates Foundation in June 2011. The Amarillo Area Foundation serves as the lead organization of 21 partners representing a cross-section of the Amarillo community. NLNE's overarching goal is 10,000 More Degrees, Zero Excuses by 2025. Degree is defined here by certificate, training program, Associates, Bachelors, Masters or Doctorate that leads to a living wage job in the Panhandle. Interventions focus on college readiness, access, persistence, retention, completion, and education about local in-demand living wage jobs.</p>
			<h4>Initiatives</h4>
			<ul class="dottedlist">
				<li>Development and implementation of community engagement program for all sectors of the community</li>
				<li>Outside evaluation of ACE, PRO (Pursuing Real Opportunities) and Bridges® (career cluster course planning)</li>
				<li>Community Report Card on measurable objectives to meet goal</li>
				<li>Support of career clusters at AISD, AC, and WTAMU to develop clear pathways and curriculum alignment at all levels in advising and counseling students</li>
				<li>Shared learning experiences at all levels</li>
				<li>Multiple data collection and evaluation measures for informed decision making and improvement of programs</li>
				<li>Work with business and industry to connect curriculum and training for local jobs, internships, development of jobs, and sector partnerships with education, community, and employers for living wage jobs</li>
				<li>Neighborhood and college success coaches</li>
			</ul>
		</div>
	</ion-content>
</ion-view>
