<ion-view view-title="About NLNE">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader">About NLNE</div>
		<div class="padding">

			<p>No Limits No Excuses aims to dramatically increase the number of young adults in Amarillo who complete their postsecondary education, setting them up for success in the workplace and in life.</p>
			<p>No Limits No Excuses (NLNE) began with a $1.3 million grant, plus $200,000 in coaching serves from the Bill &amp; Melinda Gates Foundation in June 2011. The Amarillo Area Foundation serves as the lead organization of 21 partners representing a cross-section of the Amarillo community. NLNE's overarching goal is 10,000 More Degrees, Zero Excuses by 2025. Degree is defined here by certificate, training program, Associates, Bachelors, Masters or Doctorate that leads to a living wage job in the Panhandle. Interventions focus on college readiness, access, persistence, retention, completion, and education about local in-demand living wage jobs.</p>
			<h4>Initiatives</h4>
			<ul class="dottedlist">
				<li>Development and implementation of community engagement program for all sectors of the community</li>
				<li>Outside evaluation of ACE, PRO (Pursuing Real Opportunities) and Bridges® (career cluster course planning)</li>
				<li>Community Report Card on measurable objectives to meet goal</li>
				<li>Support of career clusters at AISD, AC, and WTAMU to develop clear pathways and curriculum alignment at all levels in advising and counseling students</li>
				<li>Shared learning experiences at all levels</li>
				<li>Multiple data collection and evaluation measures for informed decision making and improvement of programs</li>
				<li>Work with business and industry to connect curriculum and training for local jobs, internships, development of jobs, and sector partnerships with education, community, and employers for living wage jobs</li>
				<li>Neighborhood and college success coaches</li>
			</ul>
			<h4>2014 NLNE Highlights:</h4>
			<ul class="dottedlist">
				<li>Development and ratification of the NLNE Success Plan.</li>
				<li>Multiple national presentations, including to the Achieving the Dream Institute.</li>
				<li>Our second Texas Convening drew attendees and speakers from all over the state and nation.</li>
				<li>Launched Community Success Partners to engage the local business community.</li>
				<li>NLNE Coaches at Amarillo Independent School District's San Jacinto, Whittier and South Lawn schools served 383 students and their families; 35 received GED's, 54 went on to postsecondary instruction with an additional 195 working on literally and GED.</li>
				<li>Cal Farley's Neighborhood Navigators served 589 families. 369 needed help accessing food or hygiene items, while 348 were pursuing educational support. Cal Farley's also provided 109 poverty trainings reaching 4,764 people. Their goal is to educate about poverty while removing the barriers for family to access education that leads to a living wage job.</li>
				<li>Amarillo College's NLNE Coaches retained 58% of their 2013 cohort, and 91% of their 2012 cohort one year out, and 60% of their cohort two years out.</li>
				<li>Amarillo College's Career and Employment services made 6,449 contacts with students through presentations, email, appointments, walk-ins, and hiring events. They reviewed 1,426 resumes and posted 1,201 job openings from 358 different employers.</li>
				<li>Amarillo College's Social Service Coordinator provided 461 referrals or services to AC students. 58 were food pantry services, 75 for housing/shelter and 85 needed help with transportation.</li>
				<li>West Texas A&amp;M University's Student Success Center helped 741 at-risk students during their 2012-2013 year.</li>
			</ul>

		</div>
	</ion-content>
</ion-view>
