<ion-view view-title="Amarillo College">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader">Amarillo College</div>
		<img src="img/plan_header_go.jpg" />
		<div class="padding">
			<p>If Amarillo College is your destination there are some steps you’ll need to take, and they are listed below. </p>
			<p>If you need assistance please contact Amarillo College at 806.371.5000 or online at <a href="http://www.actx.edu/contact" target="_system">www.actx.edu/contact</a>. They will help you complete the requirement listed below. These requirements can be completed in any order.</p>
			<h4>Apply for financial aid &amp; scholarships</h4>
			<p>Scholarships, grants, and loans are available. Applications are free at ww.actx.edu/foundation and fafsa.gov. More financial aid details: <a href="http://www.actx.edu/fin" target="_system">www.actx.edu/fin</a></p>
			<h4>Submit Official Transcript</h4>
			<p>Contact your high school counselor and/or the Registrar’s Office at each college you have attended previously to request an official transcript be sent to Amarillo College, Registrar’s Office, P.O. Box 447, Amarillo TX 79178</p>
			<h4>Provide proof of bacterial meningitis vaccination</h4>
			<p>New students under the age of 22 are required to show proof of bacterial meningitis vaccinations or complete an exemption form prior to registration. </p>
			<h4>Arrange Placement Testing</h4>
			<p>You may be exempt from taking the TSI Assessment. Please speak with an academic advisor or go online at www.actx.edu/testing to check your exemption status. If you are not exempt, you will need to complete the following:</p>
			<ol class="numberedlist">
				<li>Mandatory Pre-assessment (MAPS) Orientation: New students are required to attend a MAP session in person prior to placement testing. Location: Success Center, Ware Students Commons, 3rd floor, Washington street Campus. <a href="http://www.actx.edu/successcenter" target="_system">www.actx.edu/successcenter</a> <a href="tel:8063455542">806-345-5542</a></li>
				<li>Placement test: For more information and to schedule a testing time, call <a href="tel:8063715445">806-371-5445</a> or visit <a href="http://www.actx.edu/testing" target="_system">www.actx.edu/testing</a>. Testing times will also be scheduled after the completion of MAP session.</li>
			</ol>
		</div>
	</ion-content>
</ion-view>
