<ion-view view-title="Amarillo College">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader">Amarillo College</div>
		<img src="img/plan_header_go.jpg" />
		<div class="padding">
			<p>Amarillo College, founded in 1929, is a public community college dedicated to providing educational, cultural and community services and resources to enhance the quality of life for the diverse population in its West Texas service area.</p>
			<h4>Mission Statement</h4>
			<p>Enriching the lives of our students and community by helping learners identify and achieve their educational goals.</p>
			<h4>Accreditation</h4>
			<p>Amarillo College is accredited by the Southern Association of Colleges and Schools Commission on Colleges to award associate degrees and certificates. Contact the Commission on Colleges at 1866 Southern Lane Decatur, Georgia 30033-4097 or call 404-679-4500 for questions about the accreditation of Amarillo College</p>
			<p>When program accreditation or other reviews are required or advantageous to the College, the administration may require or recommend program or institutional compliance to the prescribed standards as set forth by the accrediting body or any agreed upon entity.</p>
			<h4>Location</h4>
			<p>Amarillo College has six campuses and an outreach center in three Texas counties. https://www.actx.edu/cr/maps</p>
			<p>Administrative offices are housed at the Washington Street Campus in the city of Amarillo, Potter County, Texas.</p>
			<h4>Enrollment/Curriculum</h4>
			<p>AC offers 143 degree and certificate programs.</p>
			<p>Fall 2015 academic enrollment was 9,935, and an additional 24,000 area residents took advantage of AC's plentiful assortment of professional development and personal enrichment courses under the umbrella of Continuing Education.</p>
			<h4>President</h4>
			<p>Dr. Russell Lowery-Hart is the 14th president of Amarillo College. He assumed office in September 2014 following four years of service to the College as vice president of academic affairs.</p>
			<a href="https://www.actx.edu" class="button button-block button-dark">https://www.actx.edu</a>
		</div>
	</ion-content>
</ion-view>
