<ion-view view-title="ACE Program">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader">ACE Program</div>
		<div class="padding">
			<p>The Amarillo Area Foundation initiated the ACE scholarship program in 1994 in partnership with Amarillo Independent School District, Amarillo College and West Texas A&M University. ACE began at Palo Duro High School in 1994 and at Caprock High School in 2002.</p>
			<p>Three elementary schools in the Tascosa High School cluster were added to the ACE program in 2009 - Lee Bivins Elementary School, Margaret Wills Elementary School and San Jacinto Elementary School. Fifth-graders attending these three elementary schools will be eligible for ACE scholarship funds if they go on to attend Tascosa High School and meet the ACE program requirements for grades, attendance and behavior.</p>
			<p>ACE provides access to higher education for students at these schools by providing numerous preparatory activities throughout each student's school career. ACE guarantees payment for tuition, fees, and books for up to 130 semester hours at Amarillo College (AC) or West Texas A&M University (WTAMU). Students receive the greatest benefit if they take 45 hours of core courses first at AC and then continue their education at WTAMU. Students can choose to start at WTAMU, but ACE will pay only as much as the cost of taking 45 hours from AC.</p>
			<p>ACE is "last money in" meaning all federal and private aid is applied prior to awarding ACE scholarship funds. ACE requires high school students to pledge annually to maintain at least an 85 grade point average, a 95% attendance record and appropriate behavior while attending high school.</p>
			<p>A $5 million fundraising campaign for the ACE program was launched in 2009 to support the addition of students from the three elementary schools in the Tascosa High School cluster.</p>
			<h4>WHY ACE?</h4>
			<p>One in five adults in Amarillo lacks a high school diploma.</p>
			<p>The rate of our local educational attainment is growing much more slowly than that of the state or the nation, and will not keep up with the emerging knowledge-based jobs of the 21st century global economy, or even our current workforce requirements.</p>
			<p>Amarillo and the Panhandle rank below the state and national averages in the number of adults with a bachelor’s degree or above.</p>
			<p>If current trends remain, the future workforce needed for a vibrant economy may no longer exist in the Texas Panhandle.</p>
			<p>ACE provides a better-educated and trained skilled workforce through knowledge-based economy.</p>
		</div>
	</ion-content>
</ion-view>
