<ion-view view-title="Partners">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader">NLNE Partners</div>
		<div class="padding">
			<p>Amarillo Area Foundation
				<br /> Amarillo Chamber of Commerce
				<br /> Amarillo College
				<br /> Amarillo Economic Development Corporation
				<br /> Amarillo Independent School District
				<br /> BSA Health System
				<br /> Cal Farley's
				<br /> City of Amarillo
				<br /> Harrington Regional Medical Center, Inc.
				<br /> Junior Achievement of the High Plains
				<br /> Leadership Amarillo and Canyon
				<br /> No Excuses University/Turnaround Schools
				<br /> Northwest Texas Healthcare System
				<br /> Opportunity School
				<br /> Panhandle Regional Planning Commission
				<br /> Panhandle Twenty/20
				<br /> Sage Oil Vac
				<br /> Texas Health Institute
				<br /> US Department of Agriculture
				<br /> United Way of Amarillo and Canyon
				<br /> West Texas A&amp;M University
				<br /> Workforce Solutions
				<br /> Xcel Energy
			</p>
		</div>
	</ion-content>
</ion-view>
