<ion-view view-title="West Texas A&amp;M University">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader">West Texas A&amp;M University</div>
		<img src="img/plan_header_go.jpg" />
		<div class="padding">
			<p>The passage of a bill in early 1909 by the Thirty-first Texas Legislature authorizing the establishment of a State normal school for the education of teachers located somewhere "west of the ninety-eighth meridian" set off a spirited bidding war as some 25 west Texas cities and towns competed to secure the educational institution. On Sept. 9, 1909, the location committee, consisting of the speaker of the Texas House of Representatives, the lieutenant governor and the superintendent of public instruction, announced its decision. The location for the school, already named West Texas State Normal College, would be Canyon, a young community of 1,400 located near the center of the rapidly developing Texas Panhandle. Many factors were involved in the location decision, but a pledge of 40 acres of land and $100,100 in cash made Canyon's bid particularly attractive. Although not mentioned in the official report, the city's lack of saloons also strengthened its case.</p>
			<h4>Mission Statement</h4>
			<p>West Texas A&amp;M University is a diverse and inclusive student-centered community of learners that:</p>
			<ul class="dottedlist">
				<li>provides a technology-rich, academically rigorous educational experience at the undergraduate and graduate levels;</li>
				<li>cultivates opportunities to develop critical thinking and problem solving skills, information literacy, and ethical behavior;</li>
				<li>directs resources in support of empowering co-curricular experiences;</li>
				<li>maintains focus on the development of future leaders for our community, the state, the nation, and the world; and</li>
				<li>serves through education, research, and consultation as a catalyst for economic development and enhancement of the quality of life for the region</li>
			</ul>
			<h4>Location</h4>
			<p>The campus of West Texas A&amp;M University lies in the northeast corner of the town of Canyon, Texas, approximately fifteen miles south of Amarillo. Here, you’ll discover small-town America complete with hospitable people, historic homes and a shop-lined town square.</p>
			<h4>Degrees</h4>
			<p>WTAMU offers 58 Undergraduate degrees, 39 Masters’, and 1doctorate programs.</p>
			<h4>President</h4>
			<p>Dr. Walter Wendler comes to WTAMU from Southern Illinois University (SIU) Carbondale, where he served as chancellor from 2001-2007. During his tenure, research productivity increased by 65 percent. He later returned to teaching architecture and retired as director of the School of Architecture at SIU at the end of 2015. He began his tenure in the Fall of 2016.</p>
		</div>
	</ion-content>
</ion-view>
