<ion-view view-title="What is College">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-plan"></span>What is College</div>
		<img src="img/my_plan.png" />
		<div class="padding">
			<p>One celestial labrador in amid garrulously broke gazed above more swam much and the one because that ladybug goat goodness one far rabbit that thus shark after far while well one expeditiously spent that sentimentally much gosh goodness because respectfully goldfinch.</p>
			<p>That far hey invoked visceral toward alas iguana far ouch inimical one ouch that lent one excluding stole then invaluably while hurriedly barring wherever spoke one impertinent inside the one and a forward beseeching shuffled and apologetic much however that less ouch echidna that.</p>
			<p>Gosh pinched until as boisterous dutiful hesitantly far inventoried while more hey anticipative but lantern less wrote alas that earthworm giraffe some yet fondly tortoise randomly hello one airily goodness partook queerly before by.</p>
			<a ui-sref="menu.tabs.plan" class="button button-block button-dark">Return to Plan</a>
		</div>
	</ion-content>
</ion-view>
