<ion-view view-title="What is College">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-plan"></span>What is College</div>
		<img src="img/my_plan.png" />
		<div class="padding">
			<p>Your plan can be one of these options</p>
			<p>Military: serving our country in the military is a great option that allows for training and pays for college after service.</p>
			<p>Career Schools: Apprenticeships, and specific job training are paths that you can do right out of high school.</p>
			<p>Two Year College: Associates degree, level 1 or 2 certificates are a great option for you to stack those credentials as you work in the field of study and earn your degree.</p>
			<p>Four Year University: Achieving your Bachelor’s, Master’s, and Doctorate are paths to great careers.</p>
			<a ui-sref="menu.tabs.plan" class="button button-block button-dark">Return to Plan</a>
		</div>
	</ion-content>
</ion-view>
