<ion-view title="Plan">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-plan"></span>Plan</div>
		<img src="img/plan_header.png" />
		<div class="padding">
			<p>Hedgehog egregiously jeepers some a despite dear crane oyster across jeez more inarticulate swore hey foully sang trod gosh some flimsy this that after as some interbred mallard starkly dived rabidly the mellifluous a gosh chameleon much played.</p>
			<a class="button button-block button-dark">Explore college options</a>
			<a class="button button-block button-dark">Discover next steps</a>
			<a class="button button-block button-dark">Roadmap your plan</a>
		</div>
	</ion-content>
</ion-view>
