<ion-view title="Plan">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-plan"></span>Plan</div>
		<img src="img/plan_header.png" />
		<div class="padding">
			<p>People with written goals are 50% more likely to achieve than people without goals. Our mission is to help students find direction and develop a plan for a successful career. In this section of the app you will find tools to help you develop a plan and get your plans in writing. Setting goals is the first step in turning the invisible into the visible</p>
			<p class="text-right"><i>“Opportunities don't happen, you create them.”</i><br />~ Chris Grosser</p>
			<a ui-sref="menu.tabs.plan_college" class="button button-block button-dark">What is College?</a>
			<a ui-sref="menu.tabs.explore_search" class="button button-block button-dark">Explore Career Options</a>
			<a ui-sref="menu.tabs.plan_start" class="button button-block button-positive">Make Your Plan</a>
		</div>
	</ion-content>
</ion-view>
