<ion-view view-title="Start your plan">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-plan"></span>Step 2: Career School</div>
		<img src="img/my_plan.png" />
		<div class="padding">
			<i>* denotes required field</i>
			<form name="careerForm" novalidate="" ng-submit="store(careerForm)">
				<div class="list list-inset">
					<span class="input-label">What military service organization do you want to serve in? *</span>
					<div class="item item-input item-select" ng-class="{ 'has-errors' : plan_user.school.$invalid && careerForm.$submitted, 'no-errors' : careerForm.school.$valid  && careerForm.$submitted}">
						<div class="input-label">&nbsp;</div>
						<select name="school" ng-model="plan_user.school" required>
							<option value="Air Force">Air Force</option>
							<option value="Army">Army</option>
							<option value="Coast Guard">Coast Guard</option>
							<option value="Marines">Marines</option>
							<option value="Navy">Navy</option>
							<option value="US Merchant Marine Academy">US Merchant Marine Academy</option>
							<option value="National Guard">National Guard</option>
						</select>
					</div>
					<div class="form-errors" ng-show="careerForm.school.$error && careerForm.$submitted" ng-messages="careerForm.school.$error">
						<div ng-messages-include="templates/system/error.html"></div>
					</div>
				</div>

				<div class="list list-inset">
					<span class="input-label">What steps have you taken?</span>
					<ion-checkbox ng-model="plan_user.checklist.step1">Meet with your school advisor</ion-checkbox>
					<ion-checkbox ng-model="plan_user.checklist.step2">Meet with a recruitment officer</ion-checkbox>
					<ion-checkbox ng-model="plan_user.checklist.step3">Prepared for Physical Fitness Exam</ion-checkbox>
					<ion-checkbox ng-model="plan_user.checklist.step4">Filled out All necessary Paperwork</ion-checkbox>
				</div>
				
				<input type="submit" value="Continue" class="button button-block button-positive" />
			</form>
		</div>
	</ion-content>
</ion-view>
