<ion-view view-title="Start your plan">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-plan"></span>Step 2: Two Year College</div>
		<img src="img/my_plan.png" />
		<div class="padding">
			<i>* denotes required field</i>
			<form name="careerForm" novalidate="" ng-submit="store(careerForm)">
				<div class="list list-inset">
					<span class="input-label">What school will you be attending? *</span>
					<div class="item item-input item-select" ng-class="{ 'has-errors' : plan_user.school.$invalid && careerForm.$submitted, 'no-errors' : careerForm.school.$valid  && careerForm.$submitted}">
						<div class="input-label">&nbsp;</div>
						<select name="school" ng-model="plan_user.school" required>
							<option value="Amarillo College">Amarillo College</option>
							<option value="OTHER">Other (Fill In)</option>
						</select>
					</div>
					<div class="item item-input" ng-if="plan_user.school == 'OTHER'">
						<input name="school_other" ng-model="plan_user.school_other" type="text" placeholder="Other" required />
					</div>
					<div class="form-errors" ng-show="careerForm.school.$error && careerForm.$submitted" ng-messages="careerForm.school.$error">
						<div ng-messages-include="templates/system/error.html"></div>
					</div>
				</div>

				<div class="list list-inset">
					<span class="input-label">What is the program? *</span>
					<div class="item item-input item-select" ng-class="{ 'has-errors' : plan_user.program.$invalid && careerForm.$submitted, 'no-errors' : careerForm.program.$valid  && careerForm.$submitted}">
						<div class="input-label">&nbsp;</div>
						<select name="program" ng-model="plan_user.program" required>
							<option value="Advertising/Public Relations">Advertising/Public Relations</option>
							<option value="American Sign Language/Interpreter (A.A.)">American Sign Language/Interpreter (A.A.)</option>
							<option value="Architecture (Pre-Architecture) (A.S.)">Architecture (Pre-Architecture) (A.S.)</option>
							<option value="Art (A.S.)">Art (A.S.)</option>
							<option value="Art - Graphic Design (A.A.S.)">Art - Graphic Design (A.A.S.)</option>
							<option value="Art - Graphic Design Certificate">Art - Graphic Design Certificate</option>
							<option value="Automotive Collision Technology Certificate">Automotive Collision Technology Certificate</option>
							<option value="Automotive Technology (A.A.S.)">Automotive Technology (A.A.S.)</option>
							<option value="Automotive Technology - Chassis and Body Certificate">Automotive Technology - Chassis and Body Certificate</option>
							<option value="Automotive Technology - Power Train Certificate">Automotive Technology - Power Train Certificate</option>
							<option value="Aviation Maintenance Technology (A.A.S.)">Aviation Maintenance Technology (A.A.S.)</option>
							<option value="Aviation Maintenance Technology - Aerospace Manufacturing (A.A.S.)">Aviation Maintenance Technology - Aerospace Manufacturing (A.A.S.)</option>
							<option value="Aviation Maintenance Technology - Aerospace Manufacturing Certificate">Aviation Maintenance Technology - Aerospace Manufacturing Certificate</option>
							<option value="Aviation Maintenance Technology - Airframe Mechanic Certificate">Aviation Maintenance Technology - Airframe Mechanic Certificate</option>
							<option value="Aviation Maintenance Technology - Powerplant Mechanic Certificate">Aviation Maintenance Technology - Powerplant Mechanic Certificate</option>
							<option value="Biology (A.S.)">Biology (A.S.)</option>
							<option value="Biotechnology (A.S.)">Biotechnology (A.S.)</option>
							<option value="Business Administration (A.S.)">Business Administration (A.S.)</option>
							<option value="Business Administration Computer Information Systems (A.S.)">Business Administration Computer Information Systems (A.S.)</option>
							<option value="Business Management">Business Management</option>
							<option value="Chemistry (A.S.)">Chemistry (A.S.)</option>
							<option value="Child Development/Early Childhood (A.A.S.)">Child Development/Early Childhood (A.A.S.)</option>
							<option value="Child Development/Early Childhood - CDEC Administrator Certificate">Child Development/Early Childhood - CDEC Administrator Certificate</option>
							<option value="Child Development/Early Childhood - CDEC Paraprofessional Certificate">Child Development/Early Childhood - CDEC Paraprofessional Certificate</option>
							<option value="Child Development/Early Childhood - CDEC Provider Certificate">Child Development/Early Childhood - CDEC Provider Certificate</option>
							<option value="CIS - Microcomputer Software Specialist Certificate">CIS - Microcomputer Software Specialist Certificate</option>
							<option value="CIS - Web Developer Specialist Certificate">CIS - Web Developer Specialist Certificate</option>
							<option value="Computer Cyber-Security Certificate">Computer Cyber-Security Certificate</option>
							<option value="Computer Information Systems (A.A.S.)">Computer Information Systems (A.A.S.)</option>
							<option value="Computer Networking/Cyber-Security (A.A.S.)">Computer Networking/Cyber-Security (A.A.S.)</option>
							<option value="Computer Networking/Cyber-Security Professional Certificate">Computer Networking/Cyber-Security Professional Certificate</option>
							<option value="Computer Science">Computer Science</option>
							<option value="Criminal Justice (A.A.S.)">Criminal Justice (A.A.S.)</option>
							<option value="Criminal Justice (A.S.)">Criminal Justice (A.S.)</option>
							<option value="Criminal Justice Law Enforcement Certificate">Criminal Justice Law Enforcement Certificate</option>
							<option value="Dental Assisting Certificate">Dental Assisting Certificate</option>
							<option value="Dental Hygiene (A.A.S.)">Dental Hygiene (A.A.S.)</option>
							<option value="Dentistry">Dentistry</option>
							<option value="Diesel Mechanics Technology - Diesel Technician Certificate">Diesel Mechanics Technology - Diesel Technician Certificate</option>
							<option value="Drafting (A.A.S.)">Drafting (A.A.S.)</option>
							<option value="Drafting - Architectural Drafting Technician">Drafting - Architectural Drafting Technician</option>
							<option value="Drafting - CAD Specialist Certificate">Drafting - CAD Specialist Certificate</option>
							<option value="Drafting - Drafting Technician Certificate">Drafting - Drafting Technician Certificate</option>
							<option value="Education - 4-8 (A.A.T.)">Education - 4-8 (A.A.T.)</option>
							<option value="Education - Elementary Generalist (A.A.T.)">Education - Elementary Generalist (A.A.T.)</option>
							<option value="Education - Elementary Specialist (A.A.T.)">Education - Elementary Specialist (A.A.T.)</option>
							<option value="Education - Secondary (A.A.T.)">Education - Secondary (A.A.T.)</option>
							<option value="Electrical Lineman">Electrical Lineman</option>
							<option value="Electromechanical Technology">Electromechanical Technology</option>
							<option value="Electronics Systems Technology (A.A.S.)">Electronics Systems Technology (A.A.S.)</option>
							<option value="Electronics Systems Technology - Advanced Electronics Certificate">Electronics Systems Technology - Advanced Electronics Certificate</option>
							<option value="Electronics Systems Technology - Basic Electronics Certificate">Electronics Systems Technology - Basic Electronics Certificate</option>
							<option value="Emergency Medical Services Professions (A.A.S.)">Emergency Medical Services Professions (A.A.S.)</option>
							<option value="EMSP Advanced Emergency Medical Technician (AEMT)">EMSP Advanced Emergency Medical Technician (AEMT)</option>
							<option value="EMSP Emergency Medical Technician (EMT) Certificate">EMSP Emergency Medical Technician (EMT) Certificate</option>
							<option value="EMSP Paramedic Certificate">EMSP Paramedic Certificate</option>
							<option value="Engineering (A.S.)">Engineering (A.S.)</option>
							<option value="Engineering Computer Science (A.S.)">Engineering Computer Science (A.S.)</option>
							<option value="Engineering Technology (A.S.)">Engineering Technology (A.S.)</option>
							<option value="English (A.A.)">English (A.A.)</option>
							<option value="Fire Protection - Basic Firefighter Certificate">Fire Protection - Basic Firefighter Certificate</option>
							<option value="Fire Protection Technology (A.A.S.)">Fire Protection Technology (A.A.S.)</option>
							<option value="Forensic Science (A.S.)">Forensic Science (A.S.)</option>
							<option value="General Studies (A.S.)">General Studies (A.S.)</option>
							<option value="Heating and Air Conditioning (HVAC)">Heating and Air Conditioning (HVAC)</option>
							<option value="Homeland Security">Homeland Security</option>
							<option value="Homeland Security">Homeland Security</option>
							<option value="Human Sciences (A.S.)">Human Sciences (A.S.)</option>
							<option value="Human Sciences (Child Development/Early Childhood) (A.S.)">Human Sciences (Child Development/Early Childhood) (A.S.)</option>
							<option value="Industrial Maintenance Technology (A.A.S.)">Industrial Maintenance Technology (A.A.S.)</option>
							<option value="Industrial Maintenance Technology - Electromechanical Certificate">Industrial Maintenance Technology - Electromechanical Certificate</option>
							<option value="Industrial Maintenance Technology - Heating, Air Conditioning and Refrigeration Certificate">Industrial Maintenance Technology - Heating, Air Conditioning and Refrigeration Certificate</option>
							<option value="Industrial Maintenance Technology - Industrial Maintenance Certificate">Industrial Maintenance Technology - Industrial Maintenance Certificate</option>
							<option value="Instrument and Control Technology (A.A.S.)">Instrument and Control Technology (A.A.S.)</option>
							<option value="Instrument and Control Technology - Advanced Instrumentation Technician">Instrument and Control Technology - Advanced Instrumentation Technician</option>
							<option value="Instrument and Control Technology - Basic Instrumentation Technician">Instrument and Control Technology - Basic Instrumentation Technician</option>
							<option value="Journalism">Journalism</option>
							<option value="Law (Pre-Law) (A.A.)">Law (Pre-Law) (A.A.)</option>
							<option value="Law (Pre-Law) (A.S.)">Law (Pre-Law) (A.S.)</option>
							<option value="Liberal Arts (A.A.)">Liberal Arts (A.A.)</option>
							<option value="Liberal Arts (A.S.)">Liberal Arts (A.S.)</option>
							<option value="Machining Technology Certificate">Machining Technology Certificate</option>
							<option value="Management - Business Management (A.A.S.)">Management - Business Management (A.A.S.)</option>
							<option value="Management - Business Management - Call Center Management Certificate">Management - Business Management - Call Center Management Certificate</option>
							<option value="Management - Business Management - Entrepreneurship Certificate">Management - Business Management - Entrepreneurship Certificate</option>
							<option value="Management - Business Management Certificate">Management - Business Management Certificate</option>
							<option value="Management - Business Management Marketable Skills Certificate">Management - Business Management Marketable Skills Certificate</option>
							<option value="Management - Food Service Management Marketable Skills Certificate">Management - Food Service Management Marketable Skills Certificate</option>
							<option value="Management - Food Service Manager Certificate">Management - Food Service Manager Certificate</option>
							<option value="Management - Food Service Supervisor Certificate">Management - Food Service Supervisor Certificate</option>
							<option value="Management - Hospitality Management Certificate">Management - Hospitality Management Certificate</option>
							<option value="Management - Hospitality, Travel & Tourism Marketable Skills Certificate">Management - Hospitality, Travel & Tourism Marketable Skills Certificate</option>
							<option value="Marketing Management">Marketing Management</option>
							<option value="Mass Communication (A.S.)">Mass Communication (A.S.)</option>
							<option value="Mathematics (A.S.)">Mathematics (A.S.)</option>
							<option value="Medical Data Specialist Certificate">Medical Data Specialist Certificate</option>
							<option value="Medical Laboratory Technology (A.A.S.)">Medical Laboratory Technology (A.A.S.)</option>
							<option value="Medical Technology">Medical Technology</option>
							<option value="Medicine">Medicine</option>
							<option value="Modern Languages (A.A.)">Modern Languages (A.A.)</option>
							<option value="Mortuary Science (A.A.S.)">Mortuary Science (A.A.S.)</option>
							<option value="Mortuary Science Certificate">Mortuary Science Certificate</option>
							<option value="Music (A.S.)">Music (A.S.)</option>
							<option value="Networking Technology">Networking Technology</option>
							<option value="Nondestructive Testing and Evaluation (A.A.S.)">Nondestructive Testing and Evaluation (A.A.S.)</option>
							<option value="Nondestructive Testing and Evaluation - Nondestructive Technician Certificate">Nondestructive Testing and Evaluation - Nondestructive Technician Certificate</option>
							<option value="Nondestructive Testing and Evaluation - Surface Testing Technician Certificate">Nondestructive Testing and Evaluation - Surface Testing Technician Certificate</option>
							<option value="Nondestructive Testing and Evaluation - Volumetric Testing Technician Certificate">Nondestructive Testing and Evaluation - Volumetric Testing Technician Certificate</option>
							<option value="Nuclear Medicine (A.A.S.)">Nuclear Medicine (A.A.S.)</option>
							<option value="Nursing (Pre-Nursing) (A.S.)">Nursing (Pre-Nursing) (A.S.)</option>
							<option value="Nursing - Associate Degree Nursing (ADN) (A.A.S.)">Nursing - Associate Degree Nursing (ADN) (A.A.S.)</option>
							<option value="Nursing - Vocational Nursing Certificate">Nursing - Vocational Nursing Certificate</option>
							<option value="Occupational Therapy (Pre-Occupational Therapy) (A.S.)">Occupational Therapy (Pre-Occupational Therapy) (A.S.)</option>
							<option value="Occupational Therapy Assistant (A.A.S.)">Occupational Therapy Assistant (A.A.S.)</option>
							<option value="Office Administration (A.A.S.)">Office Administration (A.A.S.)</option>
							<option value="Office Administration Basic Skills Certificate">Office Administration Basic Skills Certificate</option>
							<option value="Office Administration Professional Certificate">Office Administration Professional Certificate</option>
							<option value="Office Administration Software Certificate">Office Administration Software Certificate</option>
							<option value="Office Assistant - 9 month Certificate">Office Assistant - 9 month Certificate</option>
							<option value="Optometry">Optometry</option>
							<option value="Paralegal Studies (A.A.S.)">Paralegal Studies (A.A.S.)</option>
							<option value="Paralegal Studies Professional Certificate">Paralegal Studies Professional Certificate</option>
							<option value="Paramedicine">Paramedicine</option>
							<option value="Pharmacy Technology Certificate">Pharmacy Technology Certificate</option>
							<option value="Photography (A.A.)">Photography (A.A.)</option>
							<option value="Photography (A.A.S.)">Photography (A.A.S.)</option>
							<option value="Photography (A.S.)">Photography (A.S.)</option>
							<option value="Photography Certificate">Photography Certificate</option>
							<option value="Physical Therapist Assistant (A.A.S.)">Physical Therapist Assistant (A.A.S.)</option>
							<option value="Physical Therapy (Pre-Physical Therapy) (A.S.)">Physical Therapy (Pre-Physical Therapy) (A.S.)</option>
							<option value="Physics (A.S.)">Physics (A.S.)</option>
							<option value="Pre-Physician Assistant (A.S.)">Pre-Physician Assistant (A.S.)</option>
							<option value="Psychology (A.S.)">Psychology (A.S.)</option>
							<option value="Public Relations">Public Relations</option>
							<option value="Radiation Therapy (A.A.S.)">Radiation Therapy (A.A.S.)</option>
							<option value="Radio - TV (A.A.S.)">Radio - TV (A.A.S.)</option>
							<option value="Radio - TV Certificate">Radio - TV Certificate</option>
							<option value="Radiography (A.A.S.)">Radiography (A.A.S.)</option>
							<option value="Religion (A.A.)">Religion (A.A.)</option>
							<option value="Renewable Energy (A.A.S.)">Renewable Energy (A.A.S.)</option>
							<option value="Renewable Energy - Advanced Solar Technician">Renewable Energy - Advanced Solar Technician</option>
							<option value="Renewable Energy - Advanced Wind Technician">Renewable Energy - Advanced Wind Technician</option>
							<option value="Renewable Energy - Basic Solar Technician">Renewable Energy - Basic Solar Technician</option>
							<option value="Renewable Energy - Basic Wind Technician">Renewable Energy - Basic Wind Technician</option>
							<option value="Respiratory Care (A.A.S.)">Respiratory Care (A.A.S.)</option>
							<option value="Robotics Technology (A.A.S.)">Robotics Technology (A.A.S.)</option>
							<option value="Robotics Technology Certificate">Robotics Technology Certificate</option>
							<option value="Social Science (A.S.)">Social Science (A.S.)</option>
							<option value="Social Work (A.S.)">Social Work (A.S.)</option>
							<option value="Solar Energy">Solar Energy</option>
							<option value="Sonography (A.A.S.)">Sonography (A.A.S.)</option>
							<option value="Speech Communication (A.A.)">Speech Communication (A.A.)</option>
							<option value="Speech Communication (A.S.)">Speech Communication (A.S.)</option>
							<option value="Sports and Exercise Sciences - All Level P.E.">Sports and Exercise Sciences - All Level P.E.</option>
							<option value="Sports and Exercise Sciences - Fitness Professional (A.S.)">Sports and Exercise Sciences - Fitness Professional (A.S.)</option>
							<option value="Sports and Exercise Sciences - Secondary Coaching (A.S.)">Sports and Exercise Sciences - Secondary Coaching (A.S.)</option>
							<option value="Surgical Technology (A.A.S.)">Surgical Technology (A.A.S.)</option>
							<option value="Surgical Technology Certificate">Surgical Technology Certificate</option>
							<option value="Theatre (A.S.)">Theatre (A.S.)</option>
							<option value="Utility Power Worker - Groundsman Certificate">Utility Power Worker - Groundsman Certificate</option>
							<option value="Utility Power Worker Certificate">Utility Power Worker Certificate</option>
							<option value="Veterinary Medicine">Veterinary Medicine</option>
							<option value="Welding Technology">Welding Technology</option>
							<option value="Wind Energy">Wind Energy</option>
							<option value="OTHER">Other (Fill In)</option>
						</select>
					</div>
					<div class="item item-input" ng-if="plan_user.program == 'OTHER'">
						<input name="program_other" ng-model="plan_user.program_other" type="text" placeholder="Other" required />
					</div>
					<div class="form-errors" ng-show="careerForm.program.$error && careerForm.$submitted" ng-messages="careerForm.program.$error">
						<div ng-messages-include="templates/system/error.html"></div>
					</div>
				</div>

				<div class="list list-inset">
					<span class="input-label">What steps have you taken?</span>
					<ion-checkbox ng-repeat="(step,text) in collegesteps" ng-model="plan_user.checklist[step]">{{text}}</ion-checkbox>
				</div>

				<input type="submit" value="Continue" class="button button-block button-positive" />
			</form>
		</div>
	</ion-content>
</ion-view>
