<ion-view view-title="Start your plan">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-plan"></span>Step 1: Choose your path</div>
		<img src="img/my_plan.png" />
		<div class="padding">
			<p>We are excited you are taking the next step to develop your plan. The following form will guide you through the process of developing your plan. At the end you will be able to share this with friends and family and send it to your guidance counselor. Good luck and we are proud of you for Making Your Plan.</p>
			<p>What path are you going to take to work your plan?</p>
			<a ui-sref="menu.tabs.plan_career" class="button button-block button-dark">Career School</a>
			<a ui-sref="menu.tabs.plan_military" class="button button-block button-dark">Military</a>
			<a ui-sref="menu.tabs.plan_twoyear" class="button button-block button-dark">Two Year College</a>
			<a ui-sref="menu.tabs.plan_fouryear" class="button button-block button-dark">Four Year College</a>
		</div>
	</ion-content>
</ion-view>
