<ion-view view-title="Start your plan">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-plan"></span>Step 1: Choose your path</div>
		<div class="padding">
			<p>What path are you going to take to work your plan?</p>
			<a ui-sref="menu.tabs.plan_career" class="button button-block button-dark">Career School</a>
			<a ui-sref="menu.tabs.plan_military" class="button button-block button-dark">Military</a>
			<a ui-sref="menu.tabs.plan_twoyear" class="button button-block button-dark">Two Year College</a>
			<a ui-sref="menu.tabs.plan_fouryear" class="button button-block button-dark">Four Year College</a>
		</div>
	</ion-content>
</ion-view>
