<ion-view title="Find Your Future">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-explore"></span>Explore</div>
		<img src="img/explore_header.jpg" />
		<div class="padding">
			<p>“You only live once, but if you do it right, once is enough.” We want to help you find a career that will propel you to live a fuller, happier, and more fulfilling life. In this section of the app you will be able to explore career options based on your personality, job preferences, and skill sets. This is just an aid to help you sift through the vast opportunities that are ahead of you. Go and Find Your Future.</p>
<!--			<a ui-sref="menu.tabs.explore_local" class="button button-block button-dark">Local Career Spotlights</a>-->
			<a ui-sref="menu.tabs.explore_search" class="button button-block button-dark">Explore Career Options</a>
		</div>
	</ion-content>
</ion-view>
