<ion-view view-title="Local Career Spotlights">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-explore"></span>Local Careers</div>
		<div class="padding">
			<div>
	<ul class="list">
   		<li class="item" ng-repeat="spotlight in listings">
   			<h3>{{spotlight.Spotlight.title}}</h3>
			<p>{{spotlight.Spotlight.descr}}</p>
			{{spotlight.Spotlight.youtube}}
			<div class="videoWrapper">
				<youtube-video video-url="spotlight.Spotlight.youtube"></youtube-video>
			</div>
   		</li>
	</ul>
</div>
			<a ui-sref="menu.tabs.explore" class="button button-block button-dark">Exlpore Careers</a>
		</div>
	</ion-content>
</ion-view>
