<ion-view view-title="Local Career Spotlights">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-explore"></span>Local Careers</div>
		<div class="padding">
			<div class="card" ng-repeat="spotlight in listings">
				<div class="item item-text-wrap">
					<h3>{{spotlight.Spotlight.title}}</h3>
					<p>{{spotlight.Spotlight.descr}}</p>
					<div class="videoWrapper">
						<video controls="controls" poster="{{spotlight.Spotlight.poster}}">
							<source ng-src="{{spotlight.Spotlight.video | trusted}}">
						</video>
					</div>
				</div>
			</div>
			<a ui-sref="menu.tabs.explore" class="button button-block button-dark">Exlpore Careers</a>
		</div>
	</ion-content>
</ion-view>
