<ion-view title="Quizzes">
	<ion-nav-title>
		<img src="img/logo.png" class="title-image" />
	</ion-nav-title>
	<ion-content>
		<div class="subheader"><span class="goplan-quizzes"></span>Quizzes</div>
		<div class="padding">
			<p>Sometimes you need a little help and direction. The following quizzes will help you refine your personality types, job preferences, and skill sets. Please choose an answer that best fits you. If your questioning your response, go with your gut and don’t overthink it. We will notify you as we add more quizzes in this section.</p>
			<form id="quiz" name="quizForm" novalidate="" ng-submit="calculate(quizForm)">
				<div class="list list-inset">
					<span class="input-label">If you were to go to a party would you rather?</span>
					<ion-radio name="quiz1" ng-model="quiz.quiz1" value="Planner" ng-required="true">Be in charge of planning it </ion-radio>
					<ion-radio name="quiz1" ng-model="quiz.quiz1" value="Extrovert" ng-required="true">Talk to everyone at the party</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">Would you prefer to take notes in class</span>
					<ion-radio name="quiz2" ng-model="quiz.quiz2" value="Technology" ng-required="true">On a computer</ion-radio>
					<ion-radio name="quiz2" ng-model="quiz.quiz2" value="NULL" ng-required="true">In a spiral notebook</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">If you were on a deserted island would you be the one</span>
					<ion-radio name="quiz3" ng-model="quiz.quiz3" value="Creative" ng-required="true">Coming up with a solution to get home</ion-radio>
					<ion-radio name="quiz3" ng-model="quiz.quiz3" value="Risk Taker" ng-required="true">Risking your way into the unknown jungle for food</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">When faced with a problem do you tend to </span>
					<ion-radio name="quiz4" ng-model="quiz.quiz4" value="Planner" ng-required="true">Evaluate your options</ion-radio>
					<ion-radio name="quiz4" ng-model="quiz.quiz4" value="Creative" ng-required="true">Figure a way out</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">If you had to organize a special event would you</span>
					<ion-radio name="quiz5" ng-model="quiz.quiz5" value="Technology" ng-required="true">Develop a spreadsheet </ion-radio>
					<ion-radio name="quiz5" ng-model="quiz.quiz5" value="NULL" ng-required="true">Make notes on a giant white board</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">At work which would best describe you</span>
					<ion-radio name="quiz6" ng-model="quiz.quiz6" value="Extrovert" ng-required="true">Love getting to know people and help them find what they need.</ion-radio>
					<ion-radio name="quiz6" ng-model="quiz.quiz6" value="Risk Taker" ng-required="true">Willing to challenge the status quo and speak up for someone.</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">In your career of choice would you prefer to</span>
					<ion-radio name="quiz7" ng-model="quiz.quiz7" value="Outdoor" ng-required="true">Work outdoors serving a customer</ion-radio>
					<ion-radio name="quiz7" ng-model="quiz.quiz7" value="Problem Solving" ng-required="true">Work in a private office solving a problem</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">When you picture your dream job</span>
					<ion-radio name="quiz8" ng-model="quiz.quiz8" value="Variety" ng-required="true">Each day is unique and different.</ion-radio>
					<ion-radio name="quiz8" ng-model="quiz.quiz8" value="Problem Solving" ng-required="true">You are solving problems at a rapid pace.</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">Would you rather spend your workday</span>
					<ion-radio name="quiz9" ng-model="quiz.quiz9" value="Outdoor" ng-required="true">Being active and standing</ion-radio>
					<ion-radio name="quiz9" ng-model="quiz.quiz9" value="Manager" ng-required="true">At a desk leading the charge for a group of people</ion-radio>
				</div>
				
				<div class="list list-inset">
					<span class="input-label">Do you picture your career</span>
					<ion-radio name="quiz10" ng-model="quiz.quiz10" value="Variety" ng-required="true">In a rapidly changing environment</ion-radio>
					<ion-radio name="quiz10" ng-model="quiz.quiz10" value="Manager" ng-required="true">With a team of people looking to you for leadership and answers</ion-radio>
				</div>
				
				<input type="submit" value="Results" class="button button-block button-positive" />
			</form>
		</div>
	</ion-content>
</ion-view>
